@page
@model BugTracker.Views.Home.DashboardModel
@{
}

<div class="row clearfix">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="body">
                <div id="chart1">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="body">
                <div id="chart3D">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="body">
                <div id="donut">

                </div>
            </div>
        </div>
    </div>
</div>
