
@{ 
    Layout = null;
}

<!DOCTYPE html>
<title>Landing Page Coming Soon</title>
<link rel="stylesheet" href="~/css/ComingSoon.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>


<body>
   
     
    <div class="bgimg">
        <div class="topleft">
            <p>Portfolio</p>
        </div>
        <div class="middle">
            <h1>BugTracker Under Construction!</h1>
            <hr>
            <img src="~/img/BugCar.jpg" alt="Bug Tacker">
            <div class="">
                <a class=" btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Try it out!</a>
            </div>
            <p id="demo" style="font-size:30px"></p>
        </div>
        <div class="bottomleft">
            <p>Built by John Flynn</p>
        </div>
    </div>

    
    <script src="~/js/ComingSoonCountDown.js"></script>

</body>
</html>
